<%= link_to("Add a new image", "/pictures/new") %>
<h1>Pictures</h1>

<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <img src="<%= picture.url %>" alt="<%= picture.title %>">
<% end %>